<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Смена пароля</h1>
    <form action="/change/">
        {% csrf_token %}
        Имя пользователя: <input type="username" name="username"><br>
        Старый пароль: <input type="password" name="password"><br>
        Новый пароль: <input type="password" name="password2"><br>

        <input type="submit" value="Поменять">
    </form>
</body>
</html>