<!DOCTYPE html>
<html >
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="https://img.womangab.com/img/life/17-adorable-dogs-that-are-here-to-help-brighten-your-day-22.jpg">
<h1 align="center">{% trans "You are logout !!!" %}</h1>
<a href = "/login/">{% trans "You can login again !!!" %} </a>
</body>
</html>