<!DOCTYPE html>
{% load i18n %}
 <!--Это начальная страница-->
<html>
<head>
    <style type="text/css">
        body {
            color: #000; /*Цвет текста: черный*/
            background: linear-gradient(45deg, #CBD069, #545900);
            /*background: #FFFFFF; Цвет фона: белый*/
            overflow-y: scroll;
            text-align:center;
            font-family: 'Oswald', sans-serif;
        }

        header {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 20%;
        left: 0px;
        background: #545900;
        }

        h2 {
        position: absolute;
        width: 100%;
        height: 20%;
        left: 0px;
        top: 200px;

        background: #C4C4C4;
        }

       button1 {
        background-color: #e7e7e7;
        color: black;
    border: 2px solid #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px; /* Закругленность */
    display: block;
    font-size: 10px; /* Размер */
    position: absolute;
    right: 0px;
        }-->


        .container {
        position: absolute;
        top: 20%;
        right:9.5%;
        z-index:1;
        width:80%;
        height:100%;
        background: #FFEE73;
        padding: 0 15px;
        margin: 0 auto;

}

footer {
        position:fixed;
        top: 95%;
        background-color: #f1f1f1;
        color: #000000;
        text-align: center;
        }
        .part1 {
        position: absolute;
        top: 200px;
        width: 20%;


        }

        .part2 {
        position: absolute;
        top: 200px;
        right: 0px;
        width: 30%;

        }

* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}
.btn{
  position: relative;
  top: 40%;
  color:#999;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}

.btn1{
  position: absolute;
  top: 35%;
  right: 10px;
  color:#999;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn1:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}







    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!--<body style="color: #000000; background-color: #fadbc8; padding: 20px; text-align: left;">-->
<body>
    <!--<h1 style="color: #000000; font-size: 2em; font-family:times;">{% trans "Welcome to the dog community" %}-->
<!--    <header>
        <div class = "container">
        {% trans "Welcome to the dog community" %}


        <form action="/login/">
            <button >{% trans "If you want, you can log in " %}</button>
        </form>
        <br />
            <br />
            <br />
        <form action="/register/">
            <button > {% trans "If you want, you can register and have fun " %} </button>
        </form>

        </div>
    </header>-->

    <header>
            <a href="" class="btn">Главная</a>
            <a href="#" class="btn">About</a>
            <a href="#" class="btn">Services</a>
            <a href="#" class="btn">Contact</a>
        <a href="/login/" class="btn1">Авторизация</a>
    </header>

<div>
    <div class = "container">


<div>
  <button>Loan payment</button>
  <button>Deposit</button>
  <button>Withdrawal</button>
</div>


<!--<form action="/register/">
          <button> <img  alt="" src="https://flatcleaning.ru/assets/img/1005png.jpg"  /></button>
</form>-->






</div>
    </div>

    <footer>
        <div class = "">
        Разработано с ❤ Кристиной
        </div>
        </footer>
</body>
</html>