<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="https://img3.goodfon.ru/original/1600x1200/b/c9/sobaka-vzglyad-fon-2322.jpg">
    <h1 align="center">{% trans "Authorization" %}</h1>
    <form action="/proc_login/">
        <table border="0" align="center" width="500">
            <tr>
                <td width="30%">
                    {% trans "User name - " %}
                </td>
                <td>
                    <input type="text" name="user_name"/>
                </td>
            </tr>
            <tr>
                <td>
                    {% trans "Password - " %}
                </td>
                <td>
                    <input type="password" name="user_password"/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" value="{% trans 'Sign in' %}"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
