<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form action="/dispatch/">
        {% csrf_token %}
        Имя пользователя: <input type="text" name="username"><br>
        Email: <input type="email" name="email"><br>
        Пароль: <input type="password" name="password"><br>
        Пароль еще раз: <input type="password" name="password2"><br>

        <input type="submit" value="Регистрация">
    </form>
</body>
</html>