<!DOCTYPE html>
<html>
  <head>
    <title>Регистрация</title>
  </head>
  <body background="https://espocada.com/media/catalog/product/cache/1/image/2f1729e625a067f920d72aab9abc1c97/2/4/2429_12.jpg">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Зарегистрироваться</button>
    </form>
  </body>
</html>