<!DOCTYPE html>
<html >
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="https://wallbox.ru/wallpapers/main/201129/sobaka-vzglead-belyy-3952db6.jpg">
<h1 align="center">{% trans "Now you are a new user" %}</h1>
<a href = "/login/">{% trans "Before use, log in" %} </a>
</body>
</html>