<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="https://ya.clan.su/_ph/22/282930900.jpg">
    <h1 align="center">{% trans "You are welcome !!!" %}</h1>
    <p align="center"><img src="https://i.mycdn.me/i?r=AyH4iRPQ2q0otWIFepML2LxRvc0Z_Jcw8cl3EiGrZ3KNvw" align="center" width= "20%" height = "20%" alt="Welcome, we are happy"></p>
    <p align="center" > <a href="/logout/"> {% trans "If you want, you can log out " %} </a></p>
    <p align="center" > <a href="/change_pass/"> {% trans "If you want, you can change your password " %} </a></p>
</body>
</html>