{% extends  'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block main %}
<div class="card">
<div class="card-body">
<h4 class="card-title">{% trans "Log in to your account" %}</h4>

<form method="post" name="authorization" action = "/welcome/">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{{ form|crispy }}

<button type="submit" class="btn btn-primary btn-block" >{% trans "Log in" %}</button>

</form>
</div>
</div>
{% endblock %}